{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Instaounce &bull; {{ user }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'photos/style.css' %}">
    
    <script src="https://kit.fontawesome.com/862a8eb35f.js" crossorigin="anonymous"></script>

    

   
</head>

<body>
    {% comment %} header - navigator bar start {% endcomment %}
     <div class="fixed-top position-sticky">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom ">
            <div class="container justify-content-center">
                <div class="d-flex flex-row justify-content-between align-items-center col-9">
                    <a id="instaounceLogo" href="{% url 'photos:index' %}" class="navbar-brand">
                        <i class="fas fa-camera"></i> INSTAOUNCE
                    </a>
                    <div id="searchBar">
                        <form method="GET" action="{% url 'photos:search' %}" class="form-inline my-2 my-lg-0">
                            <input name="q" type="search" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
                        </form>
                    </div>
                    {% comment %} settings panel - menu -- main site, logout, admin panel, main site (user avatar) {% endcomment %}
                    <div>
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">
                                <a href="{% url 'photos:index' %}" class="link-menu">
                                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
                                        <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                    </svg>
                                </a>
                            </li>
                            {% if request.user.is_authenticated %}
                            <li class="list-inline-item ml-4">
                                <a href="{% url 'logout' %}" class="link-menu">
                                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-door-closed" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                                        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                                    </svg>
                                </a>
                            </li>
                            {% endif %}
                            <li class="list-inline-item ml-4">
                                <a href="{% url 'admin:index' %}" class="link-menu">
                                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-sliders" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
                                    </svg>
                                </a>
                            </li>
                            {% comment %} -------------- user profil photo in navbar START --------------- {% endcomment %}
                            <li class="list-inline-item ml-4 ">
                                    {% if user.profile_photo %}
                                    <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center position-relative pt-2" style="width: 1.5em; height: 1.5em">
                                        <a href="{% url 'photos:user' user.pk %}" class="link-menu">
                                            <img src="{{ user.profile_photo.url }}" style="transform: scale(2); width: 100%; position: absolute; left: 0; top: 0; " alt="Profile photo of {{ user }}" class=" rounded-circle">
                                        </a>
                                    </div>
                                    {% else %}
                                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                                    </svg>
                                    {% endif %}
                            </li>
                            {% comment %} -------------- user profil photo in navbar END --------------- {% endcomment %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    {% comment %} header - navigator bar END {% endcomment %}
    
    
    <main> 
        {% block main %} {% endblock main %}
    </main>


    <footer class="card-footer text-center fixed-bottom bg-white ">
        Copyright &copy; 2020 &ndash; Grzegorz K.
    </footer>
    
    {% comment %} ------ JS -------- {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static 'photos/style.js' %}"></script>
</body>

</html>